$optikey-color-black: black;
$optikey-color-dark: #828282;
$optikey-color-light: #c6c6c6;
$optikey-color-white: white;

$optikey-color-orange: #ff5f3e;
$optikey-color-orange-light: #fc9d8c;
$optikey-color-orange-dark: #e92805;

$optikey-color-blue: #31a3e1;
$optikey-color-blue-light: #a1d5f1;
$optikey-color-blue-dark: #125a81;
