$headings-font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
$headings-font-weight: 700;

$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

$font-family-sans-serif:     "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:          "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;