<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2022 OPTIKEY LTD (UK company number 11854839) - All Rights Reserved
-->

<!-- ANY SETTINGS IN THIS FILE WILL OVERRIDE DEFAULTS IN CODE -->
<!-- Settings are loaded from highest -> lowest priority: 
      - local user.config file
      - roaming user.config file (this is where optikey user settings generally go)
      - App.config file  (this file, which gets renamed [APPNAME].exe.config)
      - machine.config file
      - DefaultSettingsValue attribute on the setting itself.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuliusSweetland.OptiKey.Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <JuliusSweetland.OptiKey.Chat.Properties.Settings>
      </JuliusSweetland.OptiKey.Chat.Properties.Settings>
    </userSettings>
</configuration>