<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p><img src="/assets/img/logo/logo-light.svg" alt="{{ site.name }}" style="height: 3rem"/></p>
			</div>

			<div class="col-xs-12">
				<p class="lead">{{ site.description }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4>Supported Languages</h4>

				<p>OptiKey currently includes support for the following languages:</p>

				<ul>
					<li><a href="/en/">English</a> (UK, US, and Canadian)</li>
					<li><a href="/fr/">Français</a> (French)</li>
					<li><a href="/de/">Deutsch</a> (German)</li>
				</ul>

				<p>Work is ongoing to translate and localise OptiKey into as many languages as possible. If you would like to help, <a href="/en/contribute/">check out how to contribute</a>.</p>

			</div>

			<div class="col-xs-12 col-sm-6">
				<h4>System Requirements</h4>

				<p>OptiKey should work on a Windows pc/laptop/tablet that is capable of running the .Net 4.6 Framework (this does not include Windows RT tablets), which should be any version of Windows from Vista SP2 up to Windows 10.</p>

				<p>Your device should be relatively modern/capable, but high end computer specs are not required by OptiKey.</p>

				<p>If you are using an eye tracking device your pc/laptop/tablet will need to meet the minimum requirements of your eye tracker's software. These are typically more than enough for OptiKey to run flawlessly.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Troubleshooting</h3>

				<i>add popular links here</i>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>News</h3>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3>Contribute</h3>

				<p>OptiKey is Free software. It is hard to balance my full time
				job, family life, and ongoing work on OptiKey. If people are kind
				enough to support this project through sponsorship I will be
				able to dedicate more time to OptiKey.</p>

				<p><a href="/en/patrons/">Donate to help make OptiKey possible</a></p>

				<p>This is an open source project and I would love for there to be a community of volunteers around OptiKey.</p>

				<p><a href="/en/open-source/">Help with code, documentation, translations, or support</a></p>
			</div>
		</div>
	</div>


</footer>

{% for script in site.scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for script in page.scripts %}
<script src="{{ script }}"></script>
{% endfor %}

<script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  // ga('create', '', 'auto');
  // ga('send', 'pageview');
</script>
