<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuliusSweetland.OptiKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JuliusSweetland.OptiKey.Properties.Settings>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PointsMousePositionSampleInterval" serializeAs="String">
                <value>00:00:00.0130000</value>
            </setting>
            <setting name="PointTtl" serializeAs="String">
                <value>00:00:00.1500000</value>
            </setting>
            <setting name="PointSelectionTriggerLockOnRadiusInPixels" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PointSelectionTriggerFixationRadiusInPixels" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PointSelectionTriggerFixationCompleteTime" serializeAs="String">
                <value>00:00:01.2500000</value>
            </setting>
            <setting name="GazeTrackerUdpPort" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="MultiKeySelectionLockedDownWhenSimulatingKeyStrokes"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiKeySelectionFixationMinDwellTime" serializeAs="String">
                <value>00:00:00.2500000</value>
            </setting>
            <setting name="MaxDictionaryMatchesOrSuggestions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MultiKeySelectionMaxDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="KeySelectionTriggerFixationDefaultCompleteTime"
                serializeAs="String">
                <value>00:00:01.2500000</value>
            </setting>
            <setting name="MainWindowFloatingSizeAndPosition" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="ToastNotificationVerticalFillPercentage" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ToastNotificationSecondsPerCharacter" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>/Resources/Themes/Android_Dark.xaml</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>/Resources/Fonts/#Roboto</value>
            </setting>
            <setting name="FontStretch" serializeAs="String">
                <value>Condensed</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ScratchpadNumberOfLines" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoAddSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCapitalise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeechVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ErrorSoundFile" serializeAs="String">
                <value>Resources\Sounds\Tone2.wav</value>
            </setting>
            <setting name="InfoSoundFile" serializeAs="String">
                <value>Resources\Sounds\Tone1.wav</value>
            </setting>
            <setting name="KeySelectionSoundFile" serializeAs="String">
                <value>Resources\Sounds\Click1.wav</value>
            </setting>
            <setting name="MultiKeySelectionCaptureEndSoundFile" serializeAs="String">
                <value>Resources\Sounds\Falling1.wav</value>
            </setting>
            <setting name="MultiKeySelectionCaptureStartSoundFile" serializeAs="String">
                <value>Resources\Sounds\Rising1.wav</value>
            </setting>
            <setting name="KeySelectionTriggerIncompleteFixationTtl" serializeAs="String">
                <value>00:00:00.7500000</value>
            </setting>
            <setting name="KeySelectionTriggerFixationLockOnTime" serializeAs="String">
                <value>00:00:00.2500000</value>
            </setting>
            <setting name="PointSelectionTriggerFixationLockOnTime" serializeAs="String">
                <value>00:00:00.2500000</value>
            </setting>
            <setting name="ConversationOnlyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveAndResizeAdjustmentAmountInPixels" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SelectionTriggerStopSignal" serializeAs="String">
                <value>NextHigh</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TETCalibrationCheckTimeSpan" serializeAs="String">
                <value>00:00:03</value>
            </setting>
            <setting name="MouseScrollAmountInClicks" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MouseClickSoundFile" serializeAs="String">
                <value>Resources\Sounds\MouseClick1.wav</value>
            </setting>
            <setting name="MouseDoubleClickSoundFile" serializeAs="String">
                <value>Resources\Sounds\MouseDoubleClick1.wav</value>
            </setting>
            <setting name="MouseScrollSoundFile" serializeAs="String">
                <value>Resources\Sounds\MouseScroll1.wav</value>
            </setting>
            <setting name="CursorWidthInPixels" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CursorHeightInPixels" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MouseMagnifierLockedDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MagnifySourcePercentageOfScreen" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MagnifyDestinationPercentageOfScreen" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ToastNotificationHorizontalFillPercentage" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="CrashMessageFontSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="AutoCompleteWords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalibrationMaxDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="SuppressModifierKeysWhenInMouseKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCloseCrashMessageSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ErrorSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="InfoSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="KeySelectionSoundVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MouseClickSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MouseDoubleClickSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MouseScrollSoundVolume" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="MultiKeySelectionCaptureEndSoundVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MultiKeySelectionCaptureStartSoundVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ProgressIndicatorResizeStartProportion" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProgressIndicatorResizeEndProportion" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="KeySelectionTriggerFixationResumeRequiresLockOn"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowFullDockThicknessAsPercentageOfScreen"
                serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainWindowCollapsedDockThicknessAsPercentageOfFullDockThickness"
                serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MultiKeySelectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseMoveAmountInPixels" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MouseDownSoundFile" serializeAs="String">
                <value>Resources\Sounds\MouseDown1.wav</value>
            </setting>
            <setting name="MouseUpSoundFile" serializeAs="String">
                <value>Resources\Sounds\MouseUp1.wav</value>
            </setting>
            <setting name="MouseDownSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MouseUpSoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SuppressAutoCapitaliseIntelligently" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiKeySelectionLockedDownWhenNotSimulatingKeyStrokes"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishVirtualKeyCodesForCharacters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MagnifySuppressedForScrollingActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConversationBorderThickness" serializeAs="String">
                <value>1,1,1,1</value>
            </setting>
            <setting name="NGramAutoCompleteGramCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NGramAutoCompleteLeadingSpaceCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NGramAutoCompleteTrailingSpaceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeySelectionTriggerFixationCompleteTimesByIndividualKey"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressModifierKeysForAllMouseActions" serializeAs="String">
                <value>True</value>
            </setting>
        </JuliusSweetland.OptiKey.Properties.Settings>
    </userSettings>
</configuration>