<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="webBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services>
            <service name="JuliusSweetland.OptiKey.Services.WebApiService">
                <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding"
                    contract="JuliusSweetland.OptiKey.Services.IWebApiService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/OptiKey/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <!--<diagnostics>
          <messageLogging logEntireMessage="true" logMalformedMessages="true"
                          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>-->
      </system.serviceModel>
      <!--<system.diagnostics>
        <sources>
          <source name="System.ServiceModel"
                  switchValue="Information, ActivityTracing"
                  propagateActivity="true">
            <listeners>
              <add name="traceListener"
                   type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData= "C:\temp\SvcLog\Traces.svclog" />
            </listeners>
          </source>
        </sources>
      </system.diagnostics>-->
</configuration>
