<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2020 OPTIKEY LTD (UK company number 11854839) - All Rights Reserved
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="4KkR4lyelYvp5F9e8bgrnBsmdCNpNb7pmVMPbZPAXGk=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="pelNlrX0TKA6DXHj8H9D7OLFhxpjBuUSHOsx8G4jTfH978DfQxJV2jIJC+CZ+XdWXUwuHJh/ef3m9lXxY4OE/m5BnvGWgTAe5+PzVC5bzeC+QB3BLrMq2VybS8B7+Ld+FLGRJpoBV9IbtkQb7dxv42omUnKgsuIjgndEKcBMRV4bt+xGxy39JVOQZMAdAbbH0lYiiynNqOnDUcUzGVojGDDDHtFGtI72v+PHtWETPcpvbprDf5OhelUtO7sDlbv1YUBj4OoxsIstmB/FBnVsCdiGez9j1qJ/XR0Mdcq+MfczBYBAImxJeRQSpVgCbLUaLvhTx6bfJ+wEF+Nj41cgPD5Qg2UDyia96B080zUffmkGOuJ57QEhL3ReeXKSMJpE" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Custom</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Tiny</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>