The application targets .Net 4.5 and so requires that .Net Framework 4.5 (or later) is installed.

.Net Framework 4.5 is supported on (from http://msdn.microsoft.com/en-us/library/8z6watww%28v=vs.110%29.aspx):
  Client operating systems from Windows Vista SP2 onwards
  Server operating systems from Windows Server 2008 SP2/Windows Server 2008 R2 SP1 onwards

Windows version numbers here: http://www.gaijin.at/en/lstwinver.php / http://msdn.microsoft.com/en-us/library/aa370556%28v=vs.85%29.aspx)
