<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuliusSweetland.ETTA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="log4net.Internal.Debug" value="false"/>
    </appSettings>
    <userSettings>
        <JuliusSweetland.ETTA.Properties.Settings>
            <setting name="SelectionTriggerKeyboardKeyDownUpKey" serializeAs="String">
                <value>Ins</value>
            </setting>
            <setting name="SelectionTriggerStopSignal" serializeAs="String">
                <value>NextLow</value>
            </setting>
            <setting name="SelectionTriggerMouseDownUpButton" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeySelectionTriggerSource" serializeAs="String">
                <value>Fixations</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PointsMousePositionSampleInterval" serializeAs="String">
                <value>00:00:00.0130000</value>
            </setting>
            <setting name="PointsSource" serializeAs="String">
                <value>MousePosition</value>
            </setting>
            <setting name="PointTtl" serializeAs="String">
                <value>00:00:00.1500000</value>
            </setting>
            <setting name="PointSelectionTriggerFixationRadius" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PointSelectionTriggerFixationCompleteTime" serializeAs="String">
                <value>00:00:01.5000000</value>
            </setting>
            <setting name="GazeTrackerUdpPort" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="GazeTrackerUdpRegex" serializeAs="String">
                <value>^STREAM_DATA\s(?&lt;instanceTime&gt;\d+)\s(?&lt;x&gt;-?\d+(\.[0-9]+)?)\s(?&lt;y&gt;-?\d+(\.[0-9]+)?)</value>
            </setting>
            <setting name="MultiKeySelectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiKeySelectionFixationMinDwellTime" serializeAs="String">
                <value>00:00:00.0500000</value>
            </setting>
            <setting name="MultiKeySelectionMaxDictionaryMatches" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MultiKeySelectionMaxDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>BritishEnglish</value>
            </setting>
            <setting name="KeySelectionTriggerFixationCompleteTime" serializeAs="String">
                <value>00:00:01.5000000</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ToastNotificationTitleFontSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToastNotificationContentFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ToastNotificationCharactersPerLine" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ToastNotificationSecondsPerLine" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ToastNotificationAdditionalSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PublishingKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>/Resources/Themes/Android_Dark.xaml</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>/Resources/Fonts/#Roboto</value>
            </setting>
            <setting name="FontStretch" serializeAs="String">
                <value>Condensed</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="ScratchpadNumberOfLines" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoAddSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCapitalise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeechVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ErrorSoundFile" serializeAs="String">
                <value>Resources\Sounds\Error1.wav</value>
            </setting>
            <setting name="InfoSoundFile" serializeAs="String">
                <value>Resources\Sounds\Info1.wav</value>
            </setting>
            <setting name="SelectionSoundFile" serializeAs="String">
                <value>Resources\Sounds\Selection1.wav</value>
            </setting>
            <setting name="MultiKeySelectionCaptureEndSoundFile" serializeAs="String">
                <value>Resources\Sounds\MultiKeyCaptureEnd1.wav</value>
            </setting>
            <setting name="MultiKeySelectionCaptureStartSoundFile" serializeAs="String">
                <value>Resources\Sounds\MultiKeyCaptureStart1.wav</value>
            </setting>
            <setting name="WordRegex" serializeAs="String">
                <value>(?:\s*)(([_a-zA-Z0-9-\+]+(\.[_a-zA-Z0-9-\+]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6}))|(([a-zA-Z]\.){2,})|([a-zA-Z]+(['-][a-zA-Z]+)*))(?:\s*)</value>
            </setting>
            <setting name="PointSelectionTriggerSource" serializeAs="String">
                <value>Fixations</value>
            </setting>
            <setting name="UiComplexity" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="KeySelectionTriggerIncompleteFixationTtl" serializeAs="String">
                <value>00:00:00.7500000</value>
            </setting>
            <setting name="KeySelectionTriggerFixationLockOnTime" serializeAs="String">
                <value>00:00:00.1000000</value>
            </setting>
            <setting name="PointSelectionTriggerFixationLockOnTime" serializeAs="String">
                <value>00:00:00.1000000</value>
            </setting>
            <setting name="VisualMode" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="ControlPanelWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ControlPanelWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ControlPanelWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPanelWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MoveAndResizeAdjustmentAmountInPixels" serializeAs="String">
                <value>5</value>
            </setting>
        </JuliusSweetland.ETTA.Properties.Settings>
    </userSettings>
</configuration>