<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuliusSweetland.ETTA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <JuliusSweetland.ETTA.Properties.Settings>
            <setting name="SelectionTriggerKeyboardKeyDownUpKey" serializeAs="String">
                <value>LControlKey</value>
            </setting>
            <setting name="SelectionTriggerStopSignal" serializeAs="String">
                <value>NextLow</value>
            </setting>
            <setting name="SelectionTriggerMouseDownUpButton" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeySelectionTriggerSource" serializeAs="String">
                <value>KeyboardKeyDownsUps</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PointsMousePositionSampleInterval" serializeAs="String">
                <value>00:00:00.0130000</value>
            </setting>
            <setting name="PointsSource" serializeAs="String">
                <value>MousePosition</value>
            </setting>
            <setting name="PointTtl" serializeAs="String">
                <value>00:00:00.1500000</value>
            </setting>
            <setting name="PointSelectionTriggerFixationRadius" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PointSelectionTriggerFixationMinPoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PointSelectionTriggerFixationTime" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="GazeTrackerUdpPort" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="GazeTrackerUdpRegex" serializeAs="String">
                <value>^STREAM_DATA\s(?&lt;instanceTime&gt;\d+)\s(?&lt;x&gt;-?\d+(\.[0-9]+)?)\s(?&lt;y&gt;-?\d+(\.[0-9]+)?)</value>
            </setting>
            <setting name="MultiKeySelectionSupported" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiKeySelectionFixationMinDwellTime" serializeAs="String">
                <value>00:00:00.0500000</value>
            </setting>
            <setting name="MultiKeySelectionMaxDictionaryMatches" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MultiKeySelectionMaxDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>BritishEnglish</value>
            </setting>
            <setting name="PointSelectionTriggerSource" serializeAs="String">
                <value>Fixations</value>
            </setting>
            <setting name="KeySelectionTriggerFixationMinPoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KeySelectionTriggerFixationTime" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="ToastNotificationTitleFontSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToastNotificationContentFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ToastNotificationCharactersPerLine" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ToastNotificationSecondsPerLine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToastNotificationAdditionalSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KeyFontFamily" serializeAs="String">
                <value>/Resources/Fonts/#Roboto</value>
            </setting>
            <setting name="PublishingKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyFontWeight" serializeAs="String">
                <value>Light</value>
            </setting>
        </JuliusSweetland.ETTA.Properties.Settings>
    </userSettings>
</configuration>