<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="jh2suFLbW6KGAW3GQ6R6qKxiiWr4HgkAVjJ6bgVdbh0=" />
    <add name="NBug.Properties.Settings.Connection1" connectionString="K2Fm+JVbCi/e5Dooa8/tSeCuRFrWC/OdgQ3468DDZXp2nU2Kf1jjSdskZoSSagHzmlcIzFJIZUPoxp1h2/w8uqeqIdmrY5z2GEXAgmo3XEXKNHD/WNU2fNDVdIWf9DHenMuTgennvuVTj67Rp+/nKHYpdBKYlmnm8c+oMheRHwv/gDgtX8/mSN48PxaKVfU0l+ydbXiMGEEB5+z2HiL8QOnXx+Kh6RRn4AiZ+0VUoEHKTAoMVBhQqWM9mpoLQo/VkGkbtWkDd3jeyFolK9CGaJzrOFR9ipv69xw80OSZlapG3hQ9ZvhXb0XfNyYdPRi9" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Custom</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>CurrentDirectory</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>