<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="jh2suFLbW6KGAW3GQ6R6qKxiiWr4HgkAVjJ6bgVdbh0=" />
    <add name="NBug.Properties.Settings.Connection1" connectionString="K2Fm+JVbCi/e5Dooa8/tSeCuRFrWC/OdgQ3468DDZXp2nU2Kf1jjSdskZoSSagHzmlcIzFJIZUPoxp1h2/w8uqeqIdmrY5z2GEXAgmo3XEXKNHD/WNU2fNDVdIWf9DHe5C58znTCm+ypIEU+8ZaIm4tv3CHUZ9uDkdC/xqZ35kTXN7FWelt5XzKW2AvQfpj+7BY375JyWYnvkBxrkpjYivDjhrJWA/UaZOB21ryryxeeqTuPfKxarDjf+wUUZk8YwzbG6wz9QByKagkYqD9tZ1kQks7gHxY5ODNyM5ljw66ZfdCSuA63u8BA8b1AwW/KCS2TozlSUf6qST1jI02x0fk8PR+gBspZgIdWIBCeDMJdgTQv1fARQ70foYBmelxFxMQhhXEqm5URvMrP5egqVw==" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Custom</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>